@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-border: #ffffff5d;
}

html, body{
    margin: 0;
}
/* background image and grid padding */
.background{
    background-image: url(img/turboflower_resized-blur.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

/* general grid layout */
.wrapper-grid{
    display: grid;
    grid-template-columns: 0.67fr 0.33fr;
    grid-template-rows: 1fr;
    column-gap: 32px;
    height: 100%;
    width: 100%;
}
.wrapper-columns{
    background-color: #ffffff38;
    height: 100%;
    width: 100%;
}

/* left column */
/* .left-column{
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}
.left-square{
    flex-basis: 100%;
    background-color: #ffffff38;
    box-sizing: border-box;
    transition: all 250ms ease-in-out;
    border-radius: 30px;
}
.left-square:hover{
    transform: scale(1.1);
} */

/* middle column */
.center-column{
    padding: 20px;
    background-color: #ffffff38;
    border-radius: 30px;
}
.center-column-bg{
    display: flex;
    flex-direction: column;
    background-image: url(img/turboflower_resized.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    border: solid var(--color-border) 1px;
    justify-content: end;
}
.top-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.top-container h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF;
}
.top-container h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px #FFFFFF;
}
.bottom-container {
    padding: 48px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: end;
}
.bottom-container div{
    background: #d1d1d14f;
    backdrop-filter: blur(10px);
    border: solid var(--color-border) 1px;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: 300ms ease-in-out;
    cursor: pointer;
  }
.bottom-container div svg{
    width: 32px;
}
.bottom-container div::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    border: solid var(--color-border) 1px;
    backdrop-filter: blur(10px);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-60px);
    opacity: 0;
    transition: 300ms ease-in-out;
  }
  .bottom-container div:hover{
    background-color: var(--accent-color);
    fill: white;
  }
  .bottom-container div:hover::before{
    opacity: 1;
  }



/* socialPopup div wrapper */
.socialButtonStyle{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* socialPopup background */
.socialPopupStyle {
    display: flex;
    opacity: 0; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: 300ms linear;
}
/* socialPopup Content */
.socialPopupContent {
    position: relative;
    background: #d1d1d14f;
    margin: auto;
    padding: 0;
    border: solid var(--color-border) 1px;
    border-radius: 40px;
    width: 30rem;
    height: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: default;
}
.socialPopupContentGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    height: 100%;
}
.socialPopupContentGrid div svg{
    width: 50px;
    height: 50px;
}
/* The Close Button */
.socialClose {
    position: absolute;
    left: 31rem;
    top: -2rem;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    transition: 100ms linear;
}
.socialClose:hover,
.socialClose:focus {
    transform: scale(2);
    text-decoration: none;
    cursor: pointer;
}
